In [142]:
import pandas as pd
import numpy as np

In [143]:
dewpoint = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/dewpoint_temperature/uganda_monthly_dewpoint_temperature_1981_2025.csv"
)

precipitation = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/precipitation/uganda_monthly_precipitation_1981_2025.csv"
)

pressure = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/pressure/uganda_monthly_pressure_1981_2025.csv"
)

temperature = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/temperature/uganda_monthly_temperature_1981_2025.csv"
)

total_cloud_cover = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/totalcloudcover/uganda_monthly_total_cloud_cover_1981_2025.csv"
)

wind_u_component = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/wind_east_west/uganda_monthly_wind_u_component_1981_2025.csv"
)

wind_v_component = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/era5/wind_north_south/uganda_monthly_wind_v_component_1981_2025.csv"
)

chirps_rainfall = pd.read_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/rainfall/uganda_districts_monthly_rainfall.csv"
)

In [144]:
chirps_rainfall

         district    region        date  mean_rainfall
0            Abim  Northern  1981-01-01       7.921172
1        Adjumani  Northern  1981-01-01       6.550826
2           Agago  Northern  1981-01-01       5.667293
3        Alebtong  Northern  1981-01-01      15.642982
4        Amolatar  Northern  1981-01-01      16.605842
...           ...       ...         ...            ...
72625  Ssembabule   Central  2025-10-01     115.724401
72626      Tororo   Eastern  2025-10-01     191.841295
72627      Wakiso   Central  2025-10-01     104.733953
72628       Yumbe  Northern  2025-10-01     172.643377
72629       Zombo  Northern  2025-10-01    -168.443561

[72630 rows x 4 columns]

In [ ]:
chirps_rainfall["date"] = pd.to_datetime(chirps_rainfall["date"])
chirps_rainfall["date"] = chirps_rainfall["date"].dt.to_period("M").astype(str)

# replace the negative values with NaN
chirps_rainfall.loc[chirps_rainfall["mean_rainfall"] < 0, "mean_rainfall"] = np.nan

chirps_rainfall

         district    region     date  mean_rainfall
0            Abim  Northern  1981-01       7.921172
1        Adjumani  Northern  1981-01       6.550826
2           Agago  Northern  1981-01       5.667293
3        Alebtong  Northern  1981-01      15.642982
4        Amolatar  Northern  1981-01      16.605842
...           ...       ...      ...            ...
72625  Ssembabule   Central  2025-10     115.724401
72626      Tororo   Eastern  2025-10     191.841295
72627      Wakiso   Central  2025-10     104.733953
72628       Yumbe  Northern  2025-10     172.643377
72629       Zombo  Northern  2025-10            NaN

[72630 rows x 4 columns]

In [146]:
dewpoint

      District    Region        Date  Dewpoint_Temperature
0         Abim  Northern  1981-01-31             281.07266
1         Abim  Northern  1981-02-28             281.73206
2         Abim  Northern  1981-03-31             288.19592
3         Abim  Northern  1981-04-30             291.58658
4         Abim  Northern  1981-05-31             291.48070
...        ...       ...         ...                   ...
64675    Zombo  Northern  2025-07-31             289.63016
64676    Zombo  Northern  2025-08-31             290.04825
64677    Zombo  Northern  2025-09-30             289.94864
64678    Zombo  Northern  2025-10-31             289.97437
64679    Zombo  Northern  2025-11-30             290.68213

[64680 rows x 4 columns]

In [ ]:
# clean dewpoint data
dewpoint.columns = dewpoint.columns.str.lower()

dewpoint["date"] = pd.to_datetime(dewpoint["date"])
dewpoint["date"] = dewpoint["date"].dt.to_period("M").astype(str)

dewpoint["dewpoint_temperature"] = dewpoint["dewpoint_temperature"] - 273.15

# keep only dates from 1981_01 to 2025_10
dewpoint = dewpoint[(dewpoint["date"] >= "1981-01") & (dewpoint["date"] <= "2025-10")]

dewpoint = dewpoint.sort_values(by=["date", "district"], ascending=[True, True])

dewpoint.reset_index(drop=True, inplace=True)
dewpoint

         district    region     date  dewpoint_temperature
0            Abim  Northern  1981-01               7.92266
1        Adjumani  Northern  1981-01              12.33886
2           Agago  Northern  1981-01               7.93673
3        Alebtong  Northern  1981-01              10.68154
4        Amolatar  Northern  1981-01              18.09700
...           ...       ...      ...                   ...
64555  Ssembabule   Central  2025-10              17.06450
64556      Tororo   Eastern  2025-10              17.57266
64557      Wakiso   Central  2025-10              18.45938
64558       Yumbe  Northern  2025-10              19.22060
64559       Zombo  Northern  2025-10              16.82437

[64560 rows x 4 columns]

In [148]:
temperature

      District    Region        Date  Temperature
0         Abim  Northern  1981-01-31    299.34546
1         Abim  Northern  1981-02-28    299.74573
2         Abim  Northern  1981-03-31    298.02512
3         Abim  Northern  1981-04-30    296.25357
4         Abim  Northern  1981-05-31    295.82858
...        ...       ...         ...          ...
47275    Zombo  Northern  2025-06-30    295.07928
47276    Zombo  Northern  2025-07-31    294.40292
47277    Zombo  Northern  2025-08-31    293.54813
47278    Zombo  Northern  2025-09-30    294.53238
47279    Zombo  Northern  2025-10-31    294.33783

[47280 rows x 4 columns]

In [ ]:
temperature.columns = temperature.columns.str.lower()
temperature["date"] = pd.to_datetime(temperature["date"])
temperature["date"] = temperature["date"].dt.to_period("M").astype(str)
temperature["temperature"] = temperature["temperature"] - 273.15
temperature = temperature[
    (temperature["date"] >= "1981-01") & (temperature["date"] <= "2025-10")
]
temperature = temperature.sort_values(by=["date", "district"], ascending=[True, True])
temperature.reset_index(drop=True, inplace=True)
temperature

         district    region     date  temperature
0            Abim  Northern  1981-01     26.19546
1        Adjumani  Northern  1981-01     27.75762
2           Agago  Northern  1981-01     26.68590
3        Alebtong  Northern  1981-01     25.83352
4        Amolatar  Northern  1981-01     24.74435
...           ...       ...      ...          ...
47275  Ssembabule   Central  2025-10     22.13506
47276      Tororo   Eastern  2025-10     22.53658
47277      Wakiso   Central  2025-10     22.42663
47278       Yumbe  Northern  2025-10     23.88015
47279       Zombo  Northern  2025-10     21.18783

[47280 rows x 4 columns]

In [150]:
pressure

      District    Region        Date  Surface_Pressure_Pa
0         Abim  Northern  1981-01-31            88380.490
1         Abim  Northern  1981-02-28            88324.414
2         Abim  Northern  1981-03-31            88366.914
3         Abim  Northern  1981-04-30            88423.490
4         Abim  Northern  1981-05-31            88494.125
...        ...       ...         ...                  ...
63235    Zombo  Northern  2025-07-31            86811.125
63236    Zombo  Northern  2025-08-31            86739.305
63237    Zombo  Northern  2025-09-30            86690.110
63238    Zombo  Northern  2025-10-31            86626.630
63239    Zombo  Northern  2025-11-30            86719.555

[63240 rows x 4 columns]

In [ ]:
pressure.columns = pressure.columns.str.lower()
pressure["date"] = pd.to_datetime(pressure["date"])
pressure["date"] = pressure["date"].dt.to_period("M").astype(str)
pressure = pressure[(pressure["date"] >= "1981-01") & (pressure["date"] <= "2025-10")]
pressure = pressure.sort_values(by=["date", "district"], ascending=[True, True])
pressure.reset_index(drop=True, inplace=True)
pressure

         district    region     date  surface_pressure_pa
0            Abim  Northern  1981-01             88380.49
1        Adjumani  Northern  1981-01             91949.14
2           Agago  Northern  1981-01             88869.34
3        Alebtong  Northern  1981-01             89067.83
4        Amolatar  Northern  1981-01             89528.17
...           ...       ...      ...                  ...
63115  Ssembabule   Central  2025-10             87682.49
63116      Tororo   Eastern  2025-10             88584.10
63117      Wakiso   Central  2025-10             88451.67
63118       Yumbe  Northern  2025-10             91149.31
63119       Zombo  Northern  2025-10             86626.63

[63120 rows x 4 columns]

In [152]:
precipitation

      District    Region        Date  Precipitation_mm
0         Abim  Northern  1980-12-31          0.000000
1         Abim  Northern  1981-01-31          0.000003
2         Abim  Northern  1981-02-28          0.000020
3         Abim  Northern  1981-03-31          0.000283
4         Abim  Northern  1981-04-30          0.000208
...        ...       ...         ...               ...
64795    Zombo  Northern  2025-07-31          0.000187
64796    Zombo  Northern  2025-08-31          0.000479
64797    Zombo  Northern  2025-09-30          0.000182
64798    Zombo  Northern  2025-10-31          0.000320
64799    Zombo  Northern  2025-11-30          0.000084

[64800 rows x 4 columns]

In [153]:
precipitation.columns = precipitation.columns.str.lower()
precipitation["date"] = pd.to_datetime(precipitation["date"])
precipitation["date"] = precipitation["date"].dt.to_period("M").astype(str)
precipitation = precipitation[
    (precipitation["date"] >= "1981-01") & (precipitation["date"] <= "2025-10")
]
precipitation = precipitation.sort_values(
    by=["date", "district"], ascending=[True, True]
)
precipitation.reset_index(drop=True, inplace=True)
precipitation

         district    region     date  precipitation_mm
0            Abim  Northern  1981-01          0.000003
1        Adjumani  Northern  1981-01          0.000013
2           Agago  Northern  1981-01          0.000003
3        Alebtong  Northern  1981-01          0.000024
4        Amolatar  Northern  1981-01          0.000041
...           ...       ...      ...               ...
64555  Ssembabule   Central  2025-10          0.000133
64556      Tororo   Eastern  2025-10          0.000218
64557      Wakiso   Central  2025-10          0.000170
64558       Yumbe  Northern  2025-10          0.000234
64559       Zombo  Northern  2025-10          0.000320

[64560 rows x 4 columns]

In [154]:
total_cloud_cover

      District    Region        Date  Total_Cloud_Cover
0         Abim  Northern  1981-01-31           0.350660
1         Abim  Northern  1981-02-28           0.458239
2         Abim  Northern  1981-03-31           0.852498
3         Abim  Northern  1981-04-30           0.820665
4         Abim  Northern  1981-05-31           0.695249
...        ...       ...         ...                ...
64675    Zombo  Northern  2025-07-31           0.623064
64676    Zombo  Northern  2025-08-31           0.753444
64677    Zombo  Northern  2025-09-30           0.706700
64678    Zombo  Northern  2025-10-31           0.820268
64679    Zombo  Northern  2025-11-30           0.826785

[64680 rows x 4 columns]

In [ ]:
total_cloud_cover.columns = total_cloud_cover.columns.str.lower()
total_cloud_cover["date"] = pd.to_datetime(total_cloud_cover["date"])
total_cloud_cover["date"] = total_cloud_cover["date"].dt.to_period("M").astype(str)

total_cloud_cover = total_cloud_cover[
    (total_cloud_cover["date"] >= "1981-01") & (total_cloud_cover["date"] <= "2025-10")
]
total_cloud_cover = total_cloud_cover.sort_values(
    by=["date", "district"], ascending=[True, True]
)
total_cloud_cover.reset_index(drop=True, inplace=True)
total_cloud_cover

         district    region     date  total_cloud_cover
0            Abim  Northern  1981-01           0.350660
1        Adjumani  Northern  1981-01           0.454875
2           Agago  Northern  1981-01           0.398703
3        Alebtong  Northern  1981-01           0.412082
4        Amolatar  Northern  1981-01           0.437480
...           ...       ...      ...                ...
64555  Ssembabule   Central  2025-10           0.798774
64556      Tororo   Eastern  2025-10           0.764578
64557      Wakiso   Central  2025-10           0.767643
64558       Yumbe  Northern  2025-10           0.803231
64559       Zombo  Northern  2025-10           0.820268

[64560 rows x 4 columns]

In [156]:
wind_u_component

      District    Region        Date  Wind_U_Component
0         Abim  Northern  1981-01-31         -2.446590
1         Abim  Northern  1981-02-28         -2.520942
2         Abim  Northern  1981-03-31         -1.497407
3         Abim  Northern  1981-04-30         -1.020124
4         Abim  Northern  1981-05-31         -0.429709
...        ...       ...         ...               ...
64675    Zombo  Northern  2025-07-31         -0.445545
64676    Zombo  Northern  2025-08-31          0.122891
64677    Zombo  Northern  2025-09-30         -0.062068
64678    Zombo  Northern  2025-10-31         -0.138036
64679    Zombo  Northern  2025-11-30         -0.634122

[64680 rows x 4 columns]

In [ ]:
wind_u_component.columns = wind_u_component.columns.str.lower()

wind_u_component["date"] = pd.to_datetime(wind_u_component["date"])

wind_u_component["date"] = wind_u_component["date"].dt.to_period("M").astype(str)

wind_u_component = wind_u_component[
    (wind_u_component["date"] >= "1981-01") & (wind_u_component["date"] <= "2025-10")
]

wind_u_component = wind_u_component.sort_values(
    by=["date", "district"], ascending=[True, True]
)

wind_u_component.reset_index(drop=True, inplace=True)

wind_u_component

         district    region     date  wind_u_component
0            Abim  Northern  1981-01         -2.446590
1        Adjumani  Northern  1981-01         -0.250823
2           Agago  Northern  1981-01         -2.232217
3        Alebtong  Northern  1981-01         -1.275556
4        Amolatar  Northern  1981-01         -0.201121
...           ...       ...      ...               ...
64555  Ssembabule   Central  2025-10         -0.125667
64556      Tororo   Eastern  2025-10          0.117751
64557      Wakiso   Central  2025-10         -0.084696
64558       Yumbe  Northern  2025-10          0.211757
64559       Zombo  Northern  2025-10         -0.138036

[64560 rows x 4 columns]

In [158]:
wind_v_component

      District    Region        Date  Wind_V_Component
0         Abim  Northern  1981-01-31         -0.469906
1         Abim  Northern  1981-02-28         -0.506171
2         Abim  Northern  1981-03-31         -0.028231
3         Abim  Northern  1981-04-30          0.326704
4         Abim  Northern  1981-05-31          0.582360
...        ...       ...         ...               ...
64675    Zombo  Northern  2025-07-31          0.505518
64676    Zombo  Northern  2025-08-31          0.172524
64677    Zombo  Northern  2025-09-30         -0.059908
64678    Zombo  Northern  2025-10-31          0.092298
64679    Zombo  Northern  2025-11-30          0.198861

[64680 rows x 4 columns]

In [ ]:
wind_v_component.columns = wind_v_component.columns.str.lower()

wind_v_component["date"] = pd.to_datetime(wind_v_component["date"])

wind_v_component["date"] = wind_v_component["date"].dt.to_period("M").astype(str)

wind_v_component = wind_v_component[
    (wind_v_component["date"] >= "1981-01") & (wind_v_component["date"] <= "2025-10")
]

wind_v_component = wind_v_component.sort_values(
    by=["date", "district"], ascending=[True, True]
)

wind_v_component.reset_index(drop=True, inplace=True)

wind_v_component

         district    region     date  wind_v_component
0            Abim  Northern  1981-01         -0.469906
1        Adjumani  Northern  1981-01         -0.099749
2           Agago  Northern  1981-01         -0.013931
3        Alebtong  Northern  1981-01          0.510138
4        Amolatar  Northern  1981-01          1.703163
...           ...       ...      ...               ...
64555  Ssembabule   Central  2025-10         -0.551469
64556      Tororo   Eastern  2025-10         -0.185054
64557      Wakiso   Central  2025-10         -0.714753
64558       Yumbe  Northern  2025-10         -0.136260
64559       Zombo  Northern  2025-10          0.092298

[64560 rows x 4 columns]

In [ ]:
# Merge all datasets on 'district', 'region', and 'date'
merged_data = (
    chirps_rainfall.merge(dewpoint, on=["district", "region", "date"], how="outer")
    .merge(temperature, on=["district", "region", "date"], how="outer")
    .merge(precipitation, on=["district", "region", "date"], how="outer")
    .merge(pressure, on=["district", "region", "date"], how="outer")
    .merge(total_cloud_cover, on=["district", "region", "date"], how="outer")
    .merge(wind_u_component, on=["district", "region", "date"], how="outer")
    .merge(wind_v_component, on=["district", "region", "date"], how="outer")
)

# Display the merged dataset
merged_data

,district,region,date,mean_rainfall,dewpoint_temperature,temperature,precipitation_mm,surface_pressure_pa,total_cloud_cover,wind_u_component,wind_v_component
0,Abim,Northern,1981-01,7.921172,7.92266,26.19546,0.000003,88380.490,0.350660,-2.446590,-0.469906
1,Abim,Northern,1981-02,18.791414,8.58206,26.59573,0.000020,88324.414,0.458239,-2.520942,-0.506171
2,Abim,Northern,1981-03,104.911260,15.04592,24.87512,0.000283,88366.914,0.852498,-1.497407,-0.028231
3,Abim,Northern,1981-04,133.041992,18.43658,23.10357,0.000208,88423.490,0.820665,-1.020124,0.326704
4,Abim,Northern,1981-05,100.246476,18.33070,22.67858,0.000202,88494.125,0.695249,-0.429709,0.582360
...,...,...,...,...,...,...,...,...,...,...,...
72625,Zombo,Northern,2025-06,NaN,15.84435,21.92928,0.000087,86750.330,0.506584,-0.571844,1.123100
72626,Zombo,Northern,2025-07,NaN,16.48016,21.25292,0.000187,86811.125,0.623064,-0.445545,0.505518
72627,Zombo,Northern,2025-08,NaN,16.89825,20.39813,0.000479,86739.305,0.753444,0.122891,0.172524
72628,Zombo,Northern,2025-09,NaN,16.79864,21.38238,0.000182,86690.110,0.706700,-0.062068,-0.059908
72629,Zombo,Northern,2025-10,NaN,16.82437,21.18783,0.000320,86626.630,0.820268,-0.138036,0.092298

In [161]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72630 entries, 0 to 72629
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   district              72630 non-null  object
 1   region                72630 non-null  object
 2   date                  72630 non-null  object
 3   mean_rainfall         69983 non-null  float64
 4   dewpoint_temperature  64560 non-null  float64
 5   temperature           47280 non-null  float64
 6   precipitation_mm      64560 non-null  float64
 7   surface_pressure_pa   63120 non-null  float64
 8   total_cloud_cover     64560 non-null  float64
 9   wind_u_component      64560 non-null  float64
 10  wind_v_component      64560 non-null  float64
dtypes: float64(8), object(3)
memory usage: 6.1+ MB

In [162]:
merged_data.describe()

,mean_rainfall,dewpoint_temperature,temperature,precipitation_mm,surface_pressure_pa,total_cloud_cover,wind_u_component,wind_v_component
count,69983.000000,64560.000000,47280.000000,64560.000000,63120.000000,64560.000000,64560.000000,64560.000000
mean,105.178712,16.902592,22.793877,0.000186,88204.353180,0.691618,-0.372573,0.330000
std,61.487024,2.571416,2.134497,0.000148,2409.366889,0.119827,0.570880,0.644031
min,0.082563,2.185100,13.651640,0.000000,77335.220000,0.185631,-4.170265,-2.645571
25%,56.251848,15.681155,21.542328,0.000089,87178.003500,0.618075,-0.555824,-0.114256
50%,102.316758,17.605490,22.759670,0.000164,88692.465000,0.702333,-0.266326,0.217918
75%,145.452144,18.751008,24.049235,0.000245,89438.243000,0.779770,-0.033851,0.739212
max,508.316732,21.689600,30.736500,0.002731,93284.914000,0.965616,1.539438,4.486460

In [ ]:
merged_data["date"] = pd.to_datetime(merged_data["date"])
merged_data["month"] = merged_data["date"].dt.month

valid_districts = merged_data.groupby("district")["temperature"].apply(
    lambda x: x.notna().any()
)

districts_to_keep = valid_districts[valid_districts].index

merged_data = merged_data[merged_data["district"].isin(districts_to_keep)].copy()

merged_data.reset_index(drop=True, inplace=True)

merged_data["temperature"] = merged_data.groupby(["district", "month"])[
    "temperature"
].transform(lambda x: x.fillna(x.mean()))
merged_data["surface_pressure_pa"] = merged_data.groupby(["district", "month"])[
    "surface_pressure_pa"
].transform(lambda x: x.fillna(x.mean()))

merged_data = merged_data.sort_values(by=["district", "date"]).reset_index(drop=True)

merged_data["mean_rainfall"] = merged_data.groupby("district")[
    "mean_rainfall"
].transform(lambda x: x.interpolate(method="linear", limit_direction="both"))

merged_data = merged_data.drop(columns=["month"])

merged_data["date"] = merged_data["date"].dt.to_period("M").astype(str)

merged_data

,district,region,date,mean_rainfall,dewpoint_temperature,temperature,precipitation_mm,surface_pressure_pa,total_cloud_cover,wind_u_component,wind_v_component
0,Abim,Northern,1981-01,7.921172,7.92266,26.19546,0.000003,88380.490,0.350660,-2.446590,-0.469906
1,Abim,Northern,1981-02,18.791414,8.58206,26.59573,0.000020,88324.414,0.458239,-2.520942,-0.506171
2,Abim,Northern,1981-03,104.911260,15.04592,24.87512,0.000283,88366.914,0.852498,-1.497407,-0.028231
3,Abim,Northern,1981-04,133.041992,18.43658,23.10357,0.000208,88423.490,0.820665,-1.020124,0.326704
4,Abim,Northern,1981-05,100.246476,18.33070,22.67858,0.000202,88494.125,0.695249,-0.429709,0.582360
...,...,...,...,...,...,...,...,...,...,...,...
64555,Zombo,Northern,2025-06,NaN,15.84435,21.92928,0.000087,86750.330,0.506584,-0.571844,1.123100
64556,Zombo,Northern,2025-07,NaN,16.48016,21.25292,0.000187,86811.125,0.623064,-0.445545,0.505518
64557,Zombo,Northern,2025-08,NaN,16.89825,20.39813,0.000479,86739.305,0.753444,0.122891,0.172524
64558,Zombo,Northern,2025-09,NaN,16.79864,21.38238,0.000182,86690.110,0.706700,-0.062068,-0.059908
64559,Zombo,Northern,2025-10,NaN,16.82437,21.18783,0.000320,86626.630,0.820268,-0.138036,0.092298

In [ ]:
valid_rows = merged_data.dropna(subset=["mean_rainfall", "precipitation_mm"])
conversion_ratio = (
    valid_rows["mean_rainfall"].mean() / valid_rows["precipitation_mm"].mean()
)

print(f"Conversion Ratio: {conversion_ratio:.2f}")

missing_mask = (
    merged_data["mean_rainfall"].isna() & merged_data["precipitation_mm"].notna()
)

merged_data.loc[missing_mask, "mean_rainfall"] = (
    merged_data.loc[missing_mask, "precipitation_mm"] * conversion_ratio
)

merged_data["mean_rainfall"] = merged_data.groupby("district")[
    "mean_rainfall"
].transform(lambda x: x.interpolate(method="linear", limit_direction="both"))

merged_data = merged_data.drop(columns=["precipitation_mm"])

merged_data = merged_data.rename(columns={"mean_rainfall": "rainfall_mm"})
print("\nMissing values after fixing:")
print(merged_data.isnull().sum())

merged_data

Conversion Ratio: 558108.68

Missing values after fixing:
district                0
region                  0
date                    0
rainfall_mm             0
dewpoint_temperature    0
temperature             0
surface_pressure_pa     0
total_cloud_cover       0
wind_u_component        0
wind_v_component        0
dtype: int64

,district,region,date,rainfall_mm,dewpoint_temperature,temperature,surface_pressure_pa,total_cloud_cover,wind_u_component,wind_v_component
0,Abim,Northern,1981-01,7.921172,7.92266,26.19546,88380.490,0.350660,-2.446590,-0.469906
1,Abim,Northern,1981-02,18.791414,8.58206,26.59573,88324.414,0.458239,-2.520942,-0.506171
2,Abim,Northern,1981-03,104.911260,15.04592,24.87512,88366.914,0.852498,-1.497407,-0.028231
3,Abim,Northern,1981-04,133.041992,18.43658,23.10357,88423.490,0.820665,-1.020124,0.326704
4,Abim,Northern,1981-05,100.246476,18.33070,22.67858,88494.125,0.695249,-0.429709,0.582360
...,...,...,...,...,...,...,...,...,...,...
64555,Zombo,Northern,2025-06,48.360441,15.84435,21.92928,86750.330,0.506584,-0.571844,1.123100
64556,Zombo,Northern,2025-07,104.308894,16.48016,21.25292,86811.125,0.623064,-0.445545,0.505518
64557,Zombo,Northern,2025-08,267.582618,16.89825,20.39813,86739.305,0.753444,0.122891,0.172524
64558,Zombo,Northern,2025-09,101.652369,16.79864,21.38238,86690.110,0.706700,-0.062068,-0.059908
64559,Zombo,Northern,2025-10,178.796886,16.82437,21.18783,86626.630,0.820268,-0.138036,0.092298

In [165]:
# Save the final merged dataset to a CSV file
merged_data.to_csv(
    "C:/Users/Administrator/OneDrive/Desktop/rainfall_prediction/uganda_monthly_rainfall_and_climate_variables_1981_2025.csv",
    index=False,
)